* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.pt binary
*.pth binary
*.ckpt binary
*.npz binary
*.npy binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
